/* The fonts found in the root folder 'orbitron_fonts' */
@font-face {
    font-family: orbitron;
    src: url("../orbitron_fonts/Orbitron_Black.ttf");
    src: url("../orbitron_fonts/Orbitron_Bold.ttf");
    src: url("../orbitron_fonts/Orbitron_Light.ttf");
    src: url("../orbitron_fonts/Orbitron_Medium.ttf");
}

/* Any other styling should be removed from the .html files and moved here */
/* Should next define the rules and size/shape of elements like header, body, paragraph etc.. */