/* Background image for the webpage pulled from static folder */
body{
    background-image: url("/static/fort_front.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Image for the stray logo */
.centered_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.round {
  border-radius: 50%;
}
/* h1 text in the body of index.html will use the linked font */
h1{
    font-family: "Source Code Pro", serif;
}
/* p text in the body of index.html will use the linked font */
p{
    font-family: "Funnel Sans", serif;
}
/* Alliance Auth button1 stylings*/
.button1 {
  background-color: rgb(48, 40, 63);
  border: 0;
  border-radius: .1rem;
  box-sizing: border-box;
  color: rgb(182, 203, 213);
  font-family: "Source Code Pro",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-shadow: #6d5a88 2px 2px 2px;
  text-decoration: none rgba(209, 213, 219, 0) solid;
  text-decoration-thickness: auto;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:hover {
  background-color: rgba(29, 23, 39, 0.45);
}

.button1:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button1:focus-visible {
  box-shadow: none;
}
/* Discord button2 stylings */
.button2 {
  background-color: rgb(48, 40, 63);
  border: 0;
  border-radius: .1rem;
  box-sizing: border-box;
  color: rgb(182, 203, 213);
  font-family: "Source Code Pro",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-shadow: #6d5a88 2px 2px 2px;
  text-decoration: none rgba(209, 213, 219, 0) solid;
  text-decoration-thickness: auto;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2:hover {
  background-color: rgba(29, 23, 39, 0.45);
}

.button2:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button2:focus-visible {
  box-shadow: none;
}
/* parent1 in-line blocking for Discord and Alliance Auth buttons */
.parent1 {
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child1 {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: .5rem .5rem;
  vertical-align: middle;
}
.child2 {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: .5rem .5rem;
  vertical-align: middle;
}