<title>Stray Dogs</title>

<style>
body {
   background-image: url("/static/fort_front.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
</style>

<body>
<div style="text-align: center;">
<h1 style="color:#FBB02F;">Welcoming every stray home</h1>
<p style="color:#FBB02F;">With so many opportunities in the vastness of space, our limitations tend to be only what we
    can accomplish alone.<br> With that said, why not find a place among friends to reach even greater ones?</p>
</div>
</body>
