<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stray Dogs</title>
</head>

<style>
body {
   background-image: url("/static/fort_front.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
</style>

<a href="https://straydogs.services"><button>Alliance Auth</button></a>
<a href="https://discord.gg/74qfCEwngP"><button>Discord</button></a>

<body>
<div style="text-align: center;">
<h1 style="color:#FBB02F;">Welcoming every stray home</h1>
<p style="color:#FBB02F;">With so many opportunities in the vastness of space, our limitations tend to be only what we
    can accomplish alone.<br> With that said, why not find a place among friends to reach even greater heights?</p>
</div>
</body>
</html>
