<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Imported Fonts -->
    <!-- https://github.com/theleagueof/orbitron.git -->
    <!-- Webpage tab name and character set -->
    <meta charset="UTF-8">
    <title>Stray Dogs</title>
</head>
<!-- Background image pulled from static folder -->
<style>
body {
   background-image: url("/static/fort_front.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
</style>
<!--  Navigation links to pertinent other sites and tools for alliance members -->
<a href="https://straydogs.services"><button>Alliance Auth</button></a>
<a href="https://discord.gg/74qfCEwngP"><button>Discord</button></a>
<!-- The main bulk of the web page lives here -->
<body>
<div style="text-align: center;">
<h1 style="color:#FBB02F;">Welcoming every stray home</h1>
<p style="color:#FBB02F;">With so many opportunities in the vastness of space, our limitations tend to be only what we
    can accomplish alone.<br> With that said, why not find a place among friends to reach even greater heights?</p>
</div>
</body>
</html>
